.root {
  padding: 0.5em;
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: left 3px center;
  background-size: 32px;
}

.root h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
