.root {
  padding: 1em;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1em;
}

.tempGroup {
  flex: 1 1 auto;
  padding: 0.5em;
  text-align: center;
}

.tempGroup input,
.controls button {
  font-size: 1.25em;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 3px;
}

.controls {
  margin-top: 3em;
  text-align: center;
}

.saveBtn {
  margin-right: 1em;
  font-size: 1.25em;
}

.cancelBtn {
  font-size: 1.25em;
}
