.root {
  max-width: 512px;
  margin: auto;
  padding: var(--spacing-normal);
  border-radius: 6px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.root p {
  margin-bottom: 1em;
}

.content {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-border);
}

.content label {
  margin-right: 1em;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tempGroups {
  margin-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.presets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.presets button {
  margin-right: 1em;
}

.tempGroup {
  flex: 1 1 auto;
  padding: 0.5em;
  text-align: center;
}

.root input {
  font-size: 1.25em;
  border: 1px solid var(--color-border);
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

.root button {
  font-size: 1.25em;
  border: 0;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

.controls {
  margin-top: 3em;
  text-align: center;
}

.saveBtn {
  margin-right: 1em;
  background-color: #1a9cf3;
  color: #fff;
}

.root .presetBtn {
  font-size: 1em;
}

.grid {
  margin-top: 0.5em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media (min-width: 475px) {

  .root {
    padding: calc(var(--spacing-normal) * 2);
    border: 1px solid var(--color-border);
    margin: var(--spacing-normal) auto;
  }
}
