.root {
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.footer {
  margin: 1em 0;
  text-align: center;
}

.footer a {
  font-size: 1.25em;
  margin: 0 1em;
}

.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}
