.root {
  display: flex;
  flex-flow: column nowrap;
}

.footer {
  margin: 1em 0;
  text-align: center;
}

.dashboard {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 0.5em;
}

.dashboard > div {
  border: 1px solid #666;
  border-radius: 6px;
}

.configEditor {
  font-family: monospace;
}

.configJson {
  margin-top: 1em;
  font-size: 0.75em;
}
