.root {
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.footer {
  margin: 1em 0;
  text-align: center;
}

.footer a {
  font-size: 1.25em;
}

.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(max-content, 120px));
  grid-gap: 0.5em;
}
