.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0.5em;
  border: 1px solid #eee;
  text-align: center;
}

.root h3 {
  min-height: 24px;
  margin-bottom: 0.5em;
  padding-left: 28px;
  background: no-repeat;
  background-position: left top;
  background-size: 24px;
  background-image: url(/images/humidity.svg);
}

.value {
  font-size: 1.25em;
  font-weight: bold;
  white-space: nowrap;
}
