.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0.5em;
  padding-left: 28px;
  background-image: url(/images/motion-sensor.svg);
  background-repeat: no-repeat;
  background-position: left 0.5em center;
  background-size: 20px;
  text-align: center;
}

.root h3 {
  margin-bottom: 0.5em;
}

.value {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

@media (min-height: 700px) {

  .root h3 {
    padding-left: 32px;
    background-size: 24px;
  }

  .value {
    font-size: 1.25em;
  }
}
