.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0.5em;
  border: 1px solid #eee;
  text-align: center;
  overflow: auto;
}

.noTitle {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left 0.5em center;
  background-size: 24px;
  text-align: center;
}

.root h3 {
  min-height: 20px;
  margin-bottom: 0.5em;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px;
}

.value {
  font-size: 1.1em;
  font-weight: bold;
  white-space: nowrap;
}

.suffix {
  margin-left: 5px;
  font-size: 0.8em;
}

@media (min-height: 700px) {

  .root h3 {
    min-height: 24px;
    padding-left: 28px;
    background-size: 24px;
  }

  .value {
    font-size: 1.25em;
  }
}

