.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0.5em;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px;
}

.root h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}
