
MQTT_SERVER=
REDIS_URL=

NODE_ENV=development
LOG_LEVEL=trace

IFTTT_WEBHOOK_BASE_URL="https://maker.ifttt.com/trigger"
IFTTT_WEBHOOK_KEY=

OPENAI_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_NOTIFICATIONS_TARGET=