<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="sonoff, home-automation, smart-home, assistant, IoT, devices, configuration, setup, management" />

    <title>Sonoff Home Assistant</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/png" href="/images/smartphone.png" />
    <link href="/global.css" rel="stylesheet" type="text/css" />
    <link href="/bundle.css" rel="stylesheet" type="text/css" />
    <script src="/bundle.js" type="text/javascript"></script>
  </head>
  <body>
      <main id="root"></main>
  </body>
</html>
