@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:500');

* {
  margin: 0;
}

html {
  height: 100%;
  font-size: 12px;
}

body {
  height: 100%;
  background: #525659;
  font-size: 12px;
  cursor: default;
}

#root {
  height: 100%;
}

h1, h2, h3, h4 {
  font-size: 1rem;
  font-weight: normal;
}

