@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:500');

:root {
  --spacing-compact: 0.2em;
  --spacing-normal: 0.5em;
  --color-text: #666;
}

* {
  margin: 0;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  background: #fff;
  color: var(--color-text);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

#root {
  max-width: 512px;
  height: 100%;
  margin: auto;
}

h1, h2, h3, h4 {
  font-size: 1rem;
  font-weight: normal;
}

input, select, label, button {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
}

label > span {
  vertical-align: middle;
}

.error {
  margin: 1em;
  color: red;
  font-weight: bold;
}

.error pre {
  margin-top: 1em;
}
