@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:500');

* {
  margin: 0;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  background: #fff;
  color: #666;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  user-select: none;
  -webkit-user-select: none
}

#root {
  max-width: 512px;
  height: 100%;
  margin: auto;
}

h1, h2, h3, h4 {
  font-size: 1rem;
  font-weight: normal;
}

input, select, label, button {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
}

label > span {
  vertical-align: middle;
}
